body {
  margin: 0;
  font-family: ProximaNova,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(229, 227, 227); 
  overflow-x:hidden;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1.80px;
  font-weight: 300;
  text-transform: uppercase;
}

code {
  font-family: 'Courier New', Courier, monospace
  sans-serif;
}

hr{
  color: grey;
  width: 99%;
}

.favorite{
  padding-right: 1rem;
}

.favorite:hover{
  color: rgb(186, 76, 76);
  cursor: pointer;
}

.cart:hover{
  cursor: pointer;
  color: rgb(183, 223, 233)
}
